@model IEnumerable<Web_Tic_Tac_Toe.Models.Game>

@{
    ViewBag.Title = "Крестики Нолики";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Крестики нолики</title>
    <link rel="stylesheet" href="~/Content/site/Style.css" />       
    <script type="text/javascript" src="@Url.Content("~/Scripts/MyJSSupport.js")"> </script>  
</head>

<body style="color: #000080" onload="AskName()">
    <h3>Сыграем!</h3>    
    <div class="row">
        <div class="col-md-3">
            <table class="game" id="game">
                @for (int i = 0; i < 3; i++)
                {
                    <tr>
                        @for (int j = 0; j < 3; j++)
                        {
                            <td>
                                <div>
                                    <button class ="buttonGame" id="@i@j" onclick="Cross(this)" style="background-color:transparent" >
                                        <img src="~/Content/site/emptyPic.png" style="width:30px; height:30px" /> 
                                    </button>
                                </div>
                            </td>
                        }
                    </tr>
                }
            </table>
            <h3>Счёт: </h3>
            <table class="table  table-border" id="tableOfScore">
                <tr>
                    <th>Human</th>
                    <th>PC</th>
                </tr>
                <tr>
                    <td>0</td>
                    <td>0</td>
                </tr>
            </table>
            <button id="ClearScore" class="btn btn-warning">Очистить Счёт</button>          
        </div>

        <div class="col-md-5 col-md-offset-3" >
            <h3>Журнал игр</h3>
            <table class="table table-hover" id="tableOfGame">
                <tr class="header">
                    <th>№</th>
                    <th>Твоя победа</th>
                    <th>Запись ходов игры</th>
                </tr>
                @if (Model != null)
                {
                    foreach (Web_Tic_Tac_Toe.Models.Game g in Model)
                    {
                        <tr>
                            <td>@g.GameId</td>
                            <td>@g.YouWin</td>
                            <td>@g.MoveGame</td>
                        </tr>
                    }
                }

            </table>
            <button id = "ClearLog" class="btn btn-warning" onclick="SetDataInController()">Очистить Таблицу</button>
            @*<p>@ViewBag.Winner</p>*@            
            <a href="/Home/RemoveTable" style="font-weight:900">Clear</a>
        </div>
    </div>
</body>
</html>